<div class="contenedorPosicion">
    <div class="container">
      <div class="containerLogo">
        <img class="Logo" src="../assets/Logo.png">
      </div>
      <div class="col-12 text-center px-2 py-0">
          <h2 class="text-primary mb-3">Bienvenido</h2>

        <div class="form-group">

          <form name="login" #forma="ngForm" (ngSubmit)="ingresar(forma)">
            <label for="nombre" class="text-secondary">Ingresa con tu mail</label>
            <input class="col-10 mx-auto mb-4 form-control inputStyle is-invalid" 
                   type="text" 
                   name="usuario" 
                   [ngModel]="login.usuario"
                   pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                   [class.is-invalid]="usuario.invalid && usuario.touched"
                   required
                   minlength="5"
                   #usuario="ngModel">
            <!-- <div *ngIf="nombre.invalid && nombre.touched" class="col-10 mx-auto alert alert-danger" >El nombre es requerido y debe tener un minimo de 5 caracteres</div> -->


            <label for="telefono" class="text-secondary">Contraseña</label>
            <input class="col-10 mx-auto mb-4 form-control inputStyle" 
                   type="password"
                   name="password" 
                   [class.is-invalid]="password.invalid && password.touched"
                   [ngModel]="login.password"
                   required                   
                   minlength="8"
                   #password="ngModel"
            >
            <!-- <div *ngIf="telefono.invalid && telefono.touched" class="col-10 mx-auto alert alert-danger">El telefono es requerido y debe tener un formato codarea + numero </div> -->
            <!-- <p class="font-weight-bold">¿Querés dar tu primer paso hacia un consumo inteligente?</p> -->
            <div *ngIf="error" class="col-10 mx-auto alert alert-danger">{{errorMensaje}}</div>
            <button class="col-8 btn btn-primary mb-3" type="submit">Ingresar</button>        
            <div *ngIf="load" class="col-10 mx-auto text-primary"><i class="fas fa-spinner fa-spin"></i></div>
          </form>
        </div>
        <div>
          <p class="text-center">¿No tenes cuenta? <b class="text-primary"><a [routerLink]="['/registro']">Registrate.</a></b></p>
        </div>
      </div>
    </div>

  </div>