<div class="mt-3">
    <hr class="my-4">
    <h5 class="TextoPregunta my-3">¿Qué {{title}} usas?</h5>
    <form name="productoResp" [formGroup]="forma" (change)="productoChangeHandler()">
      <div class="d-flex flex-row justify-content-around">
        <div *ngFor="let prod of productos">
          <label>
            <input type="radio" name="producto" value="{{prod.precioUnitario}}" formControlName="producto">
              <div class="ContainerImg mx-auto">
                <img class="imgProduct" src="{{prod.imgUrl}}">
              </div>
              <p>{{prod.nombreProducto}}</p>
          </label>
        </div>
      </div>
   
    <!-- FIN PRIMER LINEA  -->
  
    <!-- SEGUNDA LINEA DE PREGUNTAS -->
    <h5 class="TextoPregunta my-2">¿Cúanto tiempo dura?</h5>
      <!-- (change)=tiempoChangeHandler($event) -->
      <div class="d-flex flex-row justify-content-around">
        <label>
          <input type="radio" name="tiempo" value="7" formControlName="tiempo">
          <div class="ContainerBox">
            <p class="m-1">7 dias</p>
          </div>
        </label>
        <label>
          <input type="radio" name="tiempo" value="15" formControlName="tiempo">
          <div class="ContainerBox">
            <p class="m-1">15 dias</p>
          </div>
        </label>
        <label>
          <input type="radio" name="tiempo" value="30"  formControlName="tiempo">
          <div class="ContainerBox">
            <p class="m-1">+ 25 dias</p>
          </div>
        </label>
      </div>
      <div *ngIf="tamProducto">
        <h5 class="TextoPregunta my-2">¿En qué tamaño?</h5>
        <!-- (change)=tiempoChangeHandler($event) -->
        <div class="d-flex flex-row justify-content-around">
          <label>
            <input type="radio" name="tamaño" value="1" formControlName="tamaño">
            <div class="ContainerBox">
              <p class="m-1">Chico</p>
            </div>
          </label>
          <label>
            <input type="radio" name="tamaño" value="1.8" formControlName="tamaño">
            <div class="ContainerBox">
              <p class="m-1">Mediano</p>
            </div>
          </label>
          <label>
            <input type="radio" name="tamaño" value="3.5" formControlName="tamaño">
            <div class="ContainerBox">
              <p class="m-1">Grande</p>
            </div>
          </label>
        </div>
      </div>
    </form>
    
    <div id="respuestaParcial"> 
      <!-- <p *ngIf="bandera" class="ResultadoParcial text-secondary mb-0">El producto {{productSelectName}} tiene un precio aproximado de ${{productSelectValue}}</p> -->
    </div>
  </div>