<nav class="navbar navbar-light bg">
    <a class="navbar-brand text-white" (click)="back()">
        <i class="fas fa-arrow-left"></i>
    </a>
    <h5 class="text-white mx-auto">Configuración</h5>
  </nav>
<div class="contenedorPosicion">
    <div class="container">
      <div class="col-12 text-center px-2 py-4 align-items-center">
          <div class="my-2 text-secondary border p-2 rounded">
              <p><b>Tu Email:</b> gaabicarp@gmail.com</p>
              <p><b>Tu ID:</b>1159743sfasrt8q15a</p>
          </div>

          <div class="mt-4">
            <p class="text-primary">Cambiar Contraseña</p>
            <label for="passwordActual" class="text-secondary">Contraseña Actual</label>
            <input name="passwordActual" class="col-10 mx-auto mb-4 form-control inputStyle" >
            <label for="password" class="text-secondary">Contraseña Nueva</label>
            <input name="password" class="col-10 mx-auto mb-4 form-control inputStyle" >
          </div>

          <button class="btn btn-primary">Cambiar Contraseña</button>
        
      </div>
    </div>
  </div>